html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-image: url('/images/background2.jpg');
  background-position:bottom;
  background-size: contain;
}
table{
  color: white
}
td{
  font-style:oblique;
  color:black
  
}

  background-image: ;
